/* Newsletter CSS gathered in here */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

/* HERO CSS */
.hero {
    position: relative;
    width: 640px;
    margin: 0 auto;
}

.hero-image {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}

.hero-copy {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #222222;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.hero-sub-copy {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    padding-bottom: 20px;
}

@media screen and (max-width: 680px) {
    .hero {
        position: relative;
        width: 100%;
    }

    .hero-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .hero-copy {
        
    }

    .hero-sub-copy {

    }
}
/* HERO CSS */