.products-row {
    width: 640px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 60px;
}

.double-products {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

.product {
    width: 150px;
    margin: 0 5px;
}

.product-image {
    width: 150px;
}

.product-description {
    display: block;
    min-height: 35px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .products-row {
        width: 100%;
        flex-flow: column;
    }

    .double-products:first-child {
        padding-bottom: 60px;
    }

    .product {
        width: 50%;
    }

    .product-image {
        width: 80%;
    }
}